public/app/index.html
<!DOCTYPE html>
<html ng-app="Docs" ng-controller="RootController">
<head>
    <meta charset="utf-8"/>
    <title>{{ init.title }}</title>
    <link rel="stylesheet" href="css/style.css"/>
    <base href="/app/"/>
    <meta name="fragment" content="!">
    <script src="script/lib/html5.js"></script>
    <script src="http://localhost/angular-1.2.25/angular.js"></script>
    <script src="http://localhost/angular-1.2.25/angular-route.js"></script>
    <script src="http://localhost/angular-1.2.25/angular-resource.js"></script>
    <script src="http://localhost/angular-1.2.25/angular-mocks.js"></script>
    <script src="http://localhost/angular-1.2.25/angular-animate.js"></script>
    <script src="script/services/services.js"></script>
</head>
<body>
<!--网站顶部导航 start-->
<header id="hd" class="clearfix">
    <div class="fl ml20 mt10">
        <h1><a href="{{ init.baseUrl }}">{{ init.title }}</a></h1>
        <span><a href="#">前端系列开发工具</a></span>
    </div>
    <div class="fr right">
        <div class="pt20 mr20">
            <a href="http://www.lyblog.net" target="_blank">去“小天地，大世界”博客逛逛</a>
        </div>
        <ul class="top-nav mt20">
            <li class="fl ml20"><a href="#">CSS帮助手册</a></li>
            <li class="fl ml20"><a href="#">jQuery 1.9系列帮助手册</a></li>
            <li class="fl ml20"><a href="#">jQuery 1.4帮助手册</a></li>
        </ul>
    </div>
</header>
<!--网站顶部导航 end-->
<!--网站主体部分 start-->
<section id="bd">
    <aside id="menu">
        <!-- 检索表单 start -->
        <div class="prototype-search">
            <input type="text" placeholder="属性检索" ng-model="keyword" ng-focus="init.isSearch=true" ng-blur="searchBlur()"/>
        </div>
        <!-- 检索表单 end -->
        <!-- 左侧快速导航 start -->
        <div class="menu-wrap">
            <menu class="menu-nav">
                <li ng-repeat="menu_item in init.menu" ng-class="{open:$parent.$parent.init.pselect == menu_item.rename,selected:$parent.$parent.init.pselect == menu_item.rename}">
                    <i ng-class="{true:'icon-folder-open' ,false:'icon-folder-empty'}[$parent.$parent.init.pselect == menu_item.rename]"></i>
                    <a ng-href="{{ init.baseUrl }}/{{ menu_item.rename }}.html" title="{{menu_item.title}}">{{menu_item.title}}</a>
                    <ul class="menu-nav-1">
                        <li ng-repeat="menu2_item in menu_item.child" ng-class="{selected:$parent.$parent.$parent.init.id == menu2_item.rename}">
                            <i class="icon-doc"></i>
                            <a ng-href="{{ init.baseUrl }}/{{menu_item.rename}}/{{ menu2_item.rename }}.html" title="{{menu2_item.title}}">{{menu2_item.title}}</a>
                        </li>
                    </ul>
                </li>
            </menu>
        </div>
        <!-- 左侧快速导航 end -->
    </aside>
    <article id="main">
        <!--加载提示信息 start-->
        <div class="loading" ng-show="$parent.init.isLoading">
            <i class="icon-spin5 animate-spin" style="font-size: 14px;"></i>
            <span>加载中...</span>
        </div>
        <!--加载提示信息 end-->
        <!--搜索呈现列表弹层 start-->
        <div ng-show="init.isSearch" class="search-layer">
            <div class="pos">
                <h3>属性搜索结果列表</h3>
            </div>
            <div class="search-container pdH20 clearfix">
                <dl class="fl search-item" ng-repeat="item in init.menu | filter:keyword | orderBy:'child.length':true">
                    <dt class="search-item-title"><a href="{{ init.baseUrl }}/{{ item.rename }}.html">{{ item.title }}</a></dt>
                    <dd>
                        <ul>
                            <li ng-repeat="i in item.child | filter:keyword">
                                <a href="{{ init.baseUrl }}/{{item.rename}}/{{ i.rename }}.html">{{ i.title }}</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="pos" crumbs></div>
        <!--搜索呈现列表弹层 end-->
        <!--视图 start-->
        <div ng-hide="init.isSearch" ng-view>

        </div>
        <!--视图 end-->
    </article>
</section>
<!--网站主体部分 start-->
</body>
<script src="script/App.js"></script>
<script src="script/directive/directives.js"></script>
<script src="script/controller/RootController.js"></script>
<script src="script/controller/AboutController.js"></script>
<script src="script/controller/DocGuideController.js"></script>
<script src="script/controller/DocArchiveController.js"></script>
<script src="script/lib/pretty.js"></script>
</html>

views/index.jade
extends layout

block content
    //网站主体部分
    header#hd.clearfix
        .fl.ml20.mt10
            h1
                a(ng-href="{{ init.d.type }}.html") {{ init.d.title }}
            span
                a(href="#") 前端系列开发工具
        .fr.right
            .pt20.mr20
                a(href="http://www.lyblog.net", target="_blank") 去“小天地，大世界”博客逛逛
            ul.top-nav.mt20
                li.fl.ml20
                    a(href="..") CSS帮助手册
                li.fl.ml20
                    a(href="..") jQuery 1.9系列帮助手册
                li.fl.ml20
                    a(href="..") jQuery 1.4帮助手册

    //主体部分
    section#bd
        aside#menu
            //检索表单 start
            .prototype-search
                input(type="text" placeholder="属性检索" ng-model="keyword" ng-focus="init.isSearch=true" ng-blur="searchBlur()")

            .menu-wrap(side-menu pselect='$parent.init.pselect' id='$parent.init.id')
        article#main
            .loading(ng-show="init.d.isLoading")
                i(class="icon-spin5 animate-spin" style="font-size: 14px;")
                span 加载中...
            div(class="pos" crumbs)
            .search-layer(ng-show="init.isSearch" search-layer keyword="keyword")
            div(ng-hide="init.isSearch" ng-view)
